<form action="https://formspree.io/alexiforsenate@gmail.com" method="POST">
    <label for="contact-form-email">Your email</label>
    <input id="contact-form-email" type="email" name="_replyto">
    <label for="contact-form-body">The most important problem for Sydney Uni Students is...</label>
    <textarea id="contact-form-body" name="message" placeholder="Massive tute sizes? Difficulty finding support? Poor glossy brochure to free sandwich ratio?"></textarea>
    <input type="hidden" name="_next" value="http://alexiforsenate.com/thanks" />
    <input type="hidden" name="_subject" value="Helping out Alexi!" />
    <div class="voteButtonRow">
        <input class="centred-button" type="submit" value="Count me in">
    </div>
</form>
